


<div class="grid h-screen px-4 bg-white place-content-center dark:bg-gray-900">
    
    
    <img src="https://midu.dev/images/this-is-fine-404.gif" alt="meme its fine">
    
    <div class="text-center">
      <h1 class="font-black text-gray-200 text-9xl dark:text-gray-700">404</h1>
  
  
      <p class="mt-4 text-gray-500 dark:text-gray-400">
        We can't find that page.
      </p>
  
      <a
        href="#"
        class="inline-block px-5 py-3 mt-6 text-sm font-medium text-white bg-indigo-600 rounded hover:bg-indigo-700 focus:outline-none focus:ring"
      >
        Go Back Home
      </a>
    </div>
</div>