---
import Layout from "../layouts/Layout.astro";

---

<Layout title="404 Not Found" >
    <main class=" flex flex-col justify-center items-center">
        <h1 class=" text-white text-3xl text-center">404 ERROR</h1>
        <img class=" rounded-lg" src="https://midu.dev/images/this-is-fine-404.gif">
        <a class=" text-gray-400 text-xl" href="/">Go Home</a>
    </main>
</Layout>