---
import Footer from "../components/Footer.astro";
import HeaderButton from "../components/HeaderButton.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="404 Not Found" >
    <main class=" flex flex-col justify-center items-center">
        <h1 class=" text-white text-3xl text-center ">404 ERROR</h1>
        <img class=" rounded-xl m-8" src="https://midu.dev/images/this-is-fine-404.gif">
    </main>
</Layout>