---
import Layout from "../layouts/Layout.astro";
---

<Layout title="About the project">
    <main class="py-8 px-4 mx-auto max-w-xl lg:py-16 lg:px-6">
        <h1 class=" text-gray-300 text-3xl font-extrabold">
            About the SpaceX Project
        </h1>
    
        <p class="text-white">
            The Spacex lauches with Astro.build
        </p>
    </main>
</Layout>